PORT=5000

# Environment Mode: 'development' | 'production'
NODE_ENV=development

# Local Development MongoDB URI
MONGODB_URI=mongodb://127.0.0.1:27017/doorbin_visuals

# Cloud Production MongoDB Atlas URI
MONGODB_URI_PROD=mongodb+srv://username:password@cluster0.mongodb.net/doorbin_visuals

# JWT Authentication Config
JWT_SECRET=developer-secret-key-2508
JWT_REFRESH_SECRET=developer-secret-key-2508
JWT_ACCESS_EXPIRE=7d

# Cloudinary Integration Config
CLOUDINARY_CLOUD_NAME=djn7ivlo7
CLOUDINARY_API_KEY=278376822492173
CLOUDINARY_API_SECRET=n7gWH7n3c1PP5l3ZmZtCUWMWUsA
